[
    {
        "type": "command",
        "details": {
            "key": "git.ignore"
        }
    },
    {
        "type": "command",
        "details": {
            "key": "workbench.extensions.search",
            "value": "gitignore"
        }
    }
]